
.vs/TLWebForm/config/applicationhost.config
.vs/TLWebForm/v16/.suo
TLWebForm/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TLWebForm/obj/Debug/TLWebForm.csprojAssemblyReference.cache
TLWebForm/TLWebForm.csproj
